*{margin: 0;padding: 0;}
.vessel  kbd{
    border:1px solid pink;
    width: 4em;height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
.vessel{
    text-align: center;
}

.vessel kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
}

