*{margin: 0;padding: 0;}
body{
    background:url('./img/wallpaper.jpg') no-repeat center center;
    background-size: cover;
}
.vessel  kbd{
    border:1px solid pink;
    width: 70px;height: 70px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    border-radius: 50%;
    margin: 11px 11px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.vessel{
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 16px;
}
.vessel kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
}

.vessel kbd > img{
    width: 16px;
    height: 16px;
}
.vessel kbd > .keyboardWord{
    
}
